In [11]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [14]:
df1 = pd.read_csv('data/ventas.csv', delimiter=';')
df1.head()

,pies,precio_venta,precio_costo,fecha,numero_doc,estado,motivo,punto,total_doc,descripcion_larga
0,5.3,1.6,1.2,2011-07-14 00:00:00.000,1,1,V,1,40.2,MADERA CATAHUA
1,7.0,1.6,1.2,2011-07-14 00:00:00.000,1,1,V,1,40.2,MADERA CATAHUA
2,6.0,1.6,1.2,2011-07-14 00:00:00.000,1,1,V,1,40.2,MADERA CATAHUA
3,5.3,1.6,1.2,2011-07-14 00:00:00.000,1,1,V,1,40.2,MADERA CATAHUA
4,1.5,1.6,1.2,2011-07-14 00:00:00.000,1,1,V,1,40.2,MADERA CATAHUA

In [15]:
df1['importe'] = df1['pies'] * df1['precio_venta']
df1.head()

,pies,precio_venta,precio_costo,fecha,numero_doc,estado,motivo,punto,total_doc,descripcion_larga,importe
0,5.3,1.6,1.2,2011-07-14 00:00:00.000,1,1,V,1,40.2,MADERA CATAHUA,8.48
1,7.0,1.6,1.2,2011-07-14 00:00:00.000,1,1,V,1,40.2,MADERA CATAHUA,11.20
2,6.0,1.6,1.2,2011-07-14 00:00:00.000,1,1,V,1,40.2,MADERA CATAHUA,9.60
3,5.3,1.6,1.2,2011-07-14 00:00:00.000,1,1,V,1,40.2,MADERA CATAHUA,8.48
4,1.5,1.6,1.2,2011-07-14 00:00:00.000,1,1,V,1,40.2,MADERA CATAHUA,2.40

In [16]:
# Ver el formato de cada columna
print(df1.dtypes)

pies                 float64
precio_venta         float64
precio_costo         float64
fecha                 object
numero_doc             int64
estado                 int64
motivo                object
punto                  int64
total_doc            float64
descripcion_larga     object
importe              float64
dtype: object

In [21]:
# Dar formato de fecha a la comulna de fecha
df1['fecha'] = pd.to_datetime(df1['fecha'])

In [17]:
# Ver valores NaN
cantidad_nan_por_columnas = df1.isna().sum(axis=0)

print("Cantidad de valores NaN por columnas:")
print(cantidad_nan_por_columnas)

Cantidad de valores NaN por columnas:
pies                  0
precio_venta          0
precio_costo          1
fecha                 0
numero_doc            0
estado                0
motivo                0
punto                 0
total_doc             0
descripcion_larga    27
importe               0
dtype: int64

In [18]:
df1 = df1.dropna()

In [23]:
# Verificar si la carpeta existe, si no, crearla :) 
carpeta = "visualisaciones"
if not os.path.exists(carpeta):
    os.makedirs(carpeta)

# Agrupar el importe por fecha $$
df_suma_importe1 = df1.groupby("fecha")["importe"].sum().reset_index()

# Gráfico de líneas
fig2 = px.line(df_suma_importe1, x="fecha", y="importe", title="Evolución de las ventas")

# Guardar el gráfico en un archivo HTML en la carpeta especificada 
ruta_grafico = os.path.join(carpeta, "grafico_importe1.html")
fig2.write_html(ruta_grafico)